body {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: justify;
}

/*
 * +--+---------+
 * |##|      |  |
 * |##+---------+
 * |##|         |
 * |##|         |
 * +--+---------+
 */

#sidebar {
  display: flex;
  flex-direction: column;
  background: deeppink;
  color: white;
  padding: 20px 10px;
  flex: 1 0 140px;
}

#sidebar h2 {
  line-height: 40px;
  font-size: 16pt;
  font-weight: normal;
  margin: 0 0 10px 0;
}

#sidebar h2 img {
  vertical-align: top;
  height: 40px;
}

#sidebar label {
  height: 40px;
  line-height: 40px;
  margin: 5px;
  background: pink;
  cursor: pointer;
  color: gray;
}

#sidebar input[type=checkbox]:checked + label {
  color: black;
}

#sidebar input[type=checkbox] {
  display: none;
}

/*
 * +--+---------+
 * |  |######|##|
 * |  +---------+
 * |  |#########|
 * |  |#########|
 * +--+---------+
 */

#main {
  display: flex;
  flex-direction: column;
  flex: 9 9 100%;
}

/*
 * +--+---------+
 * |  |######|##|
 * |  +---------+
 * |  |         |
 * |  |         |
 * +--+---------+
 */

#form {
  display: flex;
  flex-direction: row;
  height: 40px;
}

#form input[type=text] {
  flex: 4 1;
  border: none;
  padding: 0 10px;
  background: pink;
}

#form button {
  flex: 1 1;
  border: none;
  background: deeppink;
  color: white;
  font-size: inherit;
}

/*
 * +--+---------+
 * |  |      |  |
 * |  +---------+
 * |  |#########|
 * |  |#########|
 * +--+---------+
 */

#canvas {
  width: 100%;
  height: 100%;
  font-size: 8pt;
}

/* Background rectangle */
.bgrrect {
  fill: gray;
}

/* Individual nodes on a highway */
.node {
  fill: yellowgreen;
}

/* Ordinary highway */
.way {
  stroke-linecap: round;
  stroke-width: 2px;
}

/* Important highway */
.way_major {
  stroke-linecap: round;
  stroke-width: 3px;
}

/* Footway / parking isle */
.way_minor {
  stroke-width: 0.7px;
}

/* Estimated bus stop position */
.bus {
  fill: white;
}

/* Original bus stop position (unsuccessful estimation) */
.platform {
  stroke: white;
  stroke-width: 2px;
  fill: tomato;
}

/* Place name (city, suburb) */
.place {
  text-anchor: middle;
  fill: white;
  font-size: 8pt;
  font-weight: bold;
  filter: drop-shadow(0px 0px 1px black);
}

.scale {
  text-anchor: middle;
  font-size: 6pt;
  fill: white;
}

.stream {
  stroke: darkslategray;
  stroke-width: 2px;
}

.river {
  stroke: darkslategray;
  stroke-linecap: round;
  stroke-width: 6px;
}
